.image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.pagination{
    margin-top: 0px;
    background-color: #272c4a;;
    height: 40px;
    width: 260px;
    display: flex;
    margin-left: 11px;
}