<div mat-dialog-title>
    <h1>Etudiant Form</h1>
</div>
<div mat-dialog-content>
   <div class="row">
    <mat-form-field appearance="outline" class="content">
        <mat-label>firstname</mat-label>
        <input matInput type="text" placeholder="firstname" [(ngModel)]="etudiant.firstname" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>lastname</mat-label>
        <input matInput type="text" placeholder="lastname" [(ngModel)]="etudiant.lastname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="email" placeholder="email" [(ngModel)]="etudiant.email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>class</mat-label>
        <input matInput type="text" placeholder="class" [(ngModel)]="etudiant.class">
      </mat-form-field>
     
      <mat-form-field appearance = "outline">  
        <mat-label> Enter your password </mat-label>  
        <input matInput [type] = "hide ? 'password' : 'text'" [(ngModel)]="etudiant.password">  
        <button mat-icon-button matSuffix (click) = "hide = !hide" [attr.aria-label] = "'Hide password'" [attr.aria-pressed] = "hide">  
        <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>  
        </button>  
      </mat-form-field>  
      <mat-form-field appearance="outline">
        <mat-label>teleN</mat-label>
        <input matInput type="text" placeholder="teleN" [(ngModel)]="etudiant.teleN">
      </mat-form-field>
     
      
      <div class="form-group">
        <label for="date_debut">Date</label>
        <input type="date" class="form-control" id="birthday"  [(ngModel)]="etudiant.birthday" required #birthday="ngModel" [ngClass]="{'is-invalid': !birthday.valid && birthday.touched}">
      </div>
      
      
      
   </div> 
   
</div>

    <div mat-dialog-actions class="action" >
        <button mat-raised-button type="button" style="margin-right:10px;" >Cancel</button>
        <form (ngSubmit)="insertData()">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
        
    </div>
