<div class="clearfix"></div>
<br/>

<div class="col-div-3">
  <div class="box">
    <p>{{lenET}}<br/><span>Etudiants</span></p>
    <i class="fa fa-lock box-icon"></i>
  </div>
</div>
<div class="col-div-3">
  <div class="box">
    <p>{{lenES}}<br/><span>Enseignant</span></p>
    <i class="fa fa-users box-icon"></i>
  </div>
</div>
<div class="col-div-3">
  <div class="box">
    <p>{{lenCAT}}<br/><span>categorie</span></p>
    <i class="fa fa-dashboard box-icon"></i>
  </div>
</div>
<div class="col-div-3">
  <div class="box">
    <p>{{lenCO}}<br/><span>Cours</span></p>
    <i class="fa fa-book box-icon"></i>
  </div>
</div>