<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="body">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a routerLink="/home" class="w3-bar-item w3-button"><b>E</b>-learning</a>
  
    <div class="w3-right w3-hide-small">
      <a routerLink="/home" class="w3-bar-item w3-button">home</a>
      <a routerLink="/listeEnseignant" class="w3-bar-item w3-button">liste Enseignant</a>
      <a routerLink="/listeCours" class="w3-bar-item w3-button">liste Cours</a>
      <a routerLink="/login" class="w3-bar-item w3-button">logout</a>
    
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../../../assets/E-learning15152021.jpeg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>E</b></span> <span class="w3-hide-small w3-text-light-grey">-learning</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  
</div>
 

</body>
</html>
